body{
    box-sizing: border-box;
    
}

*, *::after, *::before
{
    box-sizing: inherit;
}

body
{

	display: flex;
	justify-content: center;
	min-height: 70vh;
	align-items: center;
    background-color: #f0f0f0;
	font-family: "Permanent Marker", cursive;

}

.cell{padding: 20px; width: 50px; font-size: 30px;}

.wrapper{
    display: flex;
    gap: 100px;
    
}

.wrapper > div {
    flex: 1 1 auto;
}

.boxDisplay{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 32px;
    align-self: center;
    width: 200px;
    font-family: "Permanent Marker", cursive;

}
.playerInfo{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 10;
    background-color: white;
    width: 90%;
    max-width: 500px;
    height: auto;
    max-height: 80vh;

}

.playerInfo.active{
    transform: translate(-50%, -50%) scale(1);
}
.overlay{
    position: fixed;
    opacity: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    transition: 200ms ease-in-out;
    pointer-events: none;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

.info-container{
    padding:40px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

form .info{
    display: flex;
    flex-direction: column;
}

form label{
    font-size: 24px;
}

form input
{
    width: 100%;
    height: 35px;
    outline: none;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    
}

form input:focus
{
    box-shadow: 0 0 6px #4a90e2;
    border-color: #4a90e2;
}

.button
{
    display: flex;
    justify-content: space-between;
}

.button button
{
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    background-color:rgba(0, 0, 34, 0.94);;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    
}

.game-body{
    display :flex;
    flex-direction: column;
    width: 400px;
    gap: 20px;
}

#board{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #e2e8f0;
    padding: 10px;
    
}

#board > div{
    
    display: flex;
    gap: 10px;
    
}

.rows button{
    flex: 1;
    height: 100px;
    text-align: center;
    font-size: 50px;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
}

.start{
    padding: 10px;
    font-size: 20px;
    color: white;
    background-color:rgba(0, 0, 34, 0.94);
}

.resultBoard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 70px;
    background-color: #e2e8f0;
    font-size: 20px;
}

header{
    font-size: 32px;
    text-align: center;
}

.info input{
    font-family: "Permanent Marker", cursive;
    font-size: 20px;
}